@charset "UTF-8";
/* CSSCharsetRule */


/* CSSImportRule */

@import url("fineprint.css") print;
@import url("bluish.css") projection, tv;
@import 'custom.css';
@import url("chrome://communicator/skin/");
@import "common.css" screen, projection;
@import url('landscape.css') screen /* and (orientation:landscape) */;


/* CSSStyleRule */
html{color:#000;background:#FFF;}

li{list-style:none;}

/* CSS Rect  */
img {
    position: absolute;
    clip: rect(0px,60px,200px,0px);
}

#p1 {background-color: rgba(255, 0, 0, 0.3);} 

/* CSSMediaRule */
@media screen { /* and (min-width: 480px) */
    body {
        background-color: green;
    }
}

/* CSSPageRule */
@page { size:8.5in 11in; margin: 2cm }

/* CSSFontFaceRule */
@font-face {
        font-family: "Robson Celtic";
        src: url("http://site/fonts/rob-celt");
}
      
@font-face {
  font-family: MyHelvetica;
  src: local("Helvetica Neue Bold"),
  local("HelveticaNeue-Bold"),
  url(MgOpenModernaBold.ttf);
  font-weight: bold;
}

@font-face {
      font-family: "Bitstream Vera Serif Bold";
      src: url("http://foo.org/VeraSeBd.ttf");
    }
    

@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}
